# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/

# OS / tooling
.DS_Store

# Visual Studio / VS Code
.vs/
.vscode/

# Rider
.idea/

# Unity Crash reports
sysinfo.txt
